@charset "ISO-8859-1";


.main-header , {
    background: #28a745 !important;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #28a745 !important;
}

.brand-link{
    background: #28a745 !important;
}



.btn-primary , .btn-primary>hover {
    color: #fff;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    box-shadow: none;
}


a{
	
	color: #28a745 ;
}


.card-primary:not(.card-outline)>.card-header {
    background-color: #28a745 !important;
}

.navbar-white {
    background-color: #28a745 !important;
    color: #fff;
}